<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<head>
    <meta charset="UTF-8">
    <title>commonbar</title>
</head>
<body>
<div th:fragment="sidebar" class="sidebar" data-background-color="brown" data-active-color="danger">
    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->
    <div class="logo">
        <a href="#" class="simple-text">
            Airi Admin
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="#" class="simple-text">
            A
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li th:class="${activeUrl=='index'}?'active'">
                <a href="/Biri/admin/index">
                    <i class="ti-panel"></i>
                    <p>主页</p>
                </a>
            </li>
            <li th:class="${activeUrl=='manageOrder'}?'active'">
                <a href="/Biri/admin/manageOrder/0">
                    <i class="ti-widget"></i>
                    <p>订单处理</p>
                </a>
            </li>
            <li th:class="${activeUrl=='manageAuthor'}?'active'">
                <a href="/Biri/admin/manageAuthor">
                    <i class="ti-user"></i>
                    <p>管理作者</p>
                </a>
            </li>
            <li th:class="${level==2}?'active'">
                <a data-toggle="collapse" href="#forms" class="collapsed" aria-expanded="false">
                    <i class="ti-clipboard"></i>
                    <p>图书管理
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="forms" role="navigation" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li th:class="${activeUrl=='manegeTag'}?'active'"><a href="/Biri/admin/manageTag">管理标签</a></li>
                        <li th:class="${activeUrl=='shelvesBook'}?'active'"><a href="/Biri/admin/shelvesBook">上架新图书</a></li>
                        <li th:class="${activeUrl=='bookList'}?'active'"><a href="/Biri/admin/bookList">图书列表</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</div>
</body>
</html>