<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<head>
    <meta charset="UTF-8">
    <title>commonbar</title>
</head>
<body>
<div th:fragment="sidebar" class="sidebar" data-background-color="brown" data-active-color="danger">
    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->
    <div class="logo">
        <a href="#" class="simple-text">
            Airi Admin
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="#" class="simple-text">
            A
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li th:class="${activeUrl=='index'}?'active'">
                <a href="/Biri/admin/index">
                    <i class="ti-panel"></i>
                    <p>主页</p>
                </a>
            </li>
            <li th:class="${activeUrl=='manageOrder'}?'active'">
                <a href="/Biri/admin/manageOrder/0">
                    <i class="ti-widget"></i>
                    <p>订单处理</p>
                </a>
            </li>
            <li th:class="${activeUrl=='manageAuthor'}?'active'">
                <a href="/Biri/admin/manageAuthor">
                    <i class="ti-user"></i>
                    <p>管理作者</p>
                </a>
            </li>
            <li th:class="${level==2}?'active'">
                <a data-toggle="collapse" href="#forms" class="collapsed" aria-expanded="false">
                    <i class="ti-clipboard"></i>
                    <p>图书管理
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="forms" role="navigation" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li th:class="${activeUrl=='manegeTag'}?'active'"><a href="/Biri/admin/manageTag">管理标签</a></li>
                        <li th:class="${activeUrl=='shelvesBook'}?'active'"><a href="/Biri/admin/shelvesBook">上架新图书</a></li>
                        <li th:class="${activeUrl=='bookList'}?'active'"><a href="/Biri/admin/bookList">图书列表</a></li>
                    </ul>
                </div>
            </li>



            <li>
                <a data-toggle="collapse" href="#charts" class="collapsed" aria-expanded="false">
                    <i class="ti-bar-chart-alt"></i>
                    <p>Charts
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="charts" role="navigation" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li>
                            <a href="charts/chart-js-charts.html">ChartJS</a>
                        </li>
                        <li>
                            <a href="charts/flot-charts.html">Flot</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#ui-elements" class="collapsed" aria-expanded="false">
                    <i class="ti-package"></i>
                    <p>UI Elements
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="ui-elements" role="navigation" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li><a href="ui/accordions.html">Accordions</a></li>
                        <li><a href="ui/alerts.html">Alerts</a></li>
                        <li><a href="ui/buttons.html">Buttons</a></li>
                        <li><a href="ui/grid.html">Grid System</a></li>
                        <li><a href="ui/icons.html">Icons</a></li>
                        <li><a href="ui/modals.html">Modals</a></li>
                        <li><a href="ui/notifications.html">Notifications</a></li>
                        <li><a href="ui/tabs.html">Tabs</a></li>
                        <li><a href="ui/typography.html">Typography</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#tables" class="collapsed" aria-expanded="false">
                    <i class="ti-view-list-alt"></i>
                    <p>Tables
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="tables" role="navigation" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li><a href="tables/tables.html">Simple Tables</a></li>
                        <li><a href="tables/data-tables.html">Data Tables</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#pages" class="collapsed" aria-expanded="false">
                    <i class="ti-gift"></i>
                    <p>Pages
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="pages" role="navigation" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li><a href="sample-pages/template.html">Template</a></li>
                        <li><a href="sample-pages/user-profile.html">User Profile</a></li>
                        <li><a href="sample-pages/login.html">Login</a></li>
                        <li><a href="sample-pages/signup.html">Sign Up</a></li>
                        <li><a href="sample-pages/pricing-table.html">Pricing Table</a></li>
                        <li><a href="sample-pages/invoice.html">Invoice</a></li>
                        <li><a href="sample-pages/help-faqs.html">Help & FAQs</a></li>
                        <li><a href="sample-pages/timeline.html">Timeline</a></li>
                        <li><a href="sample-pages/404.html">404</a></li>
                        <li><a href="sample-pages/500.html">500</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="calendar/calendar.html">
                    <i class="ti-calendar"></i>
                    <p>Calendar
                        <b class="caret"></b>
                    </p>
                </a>
            </li>
            <li>
                <a href="docs/documentation.html">
                    <i class="ti-help"></i>
                    <p>Documentation</p>
                </a>
            </li>
        </ul>

    </div>
</div>
</body>
</html>